.DS_Store
*.egg-info/
dist
.vscode
.venv
.mypy_cache
docs/manual/build
docs/manual/jupyter_execute
examples/_build/
docs/manual/jupyter_execute
docs/examples/_build/
*.ipynb_checkpoints
docs/build/jupyter_execute/
docs/build/examples/_build/
docs/build/
docs/jupyter_execute