pytket ~= 0.6
pytket-qiskit ~= 0.6
pytket-pyquil ~= 0.6
pytket-qsharp ~= 0.6
pytket-pyzx ~= 0.5
pytket-projectq ~= 0.5
pytket-cirq ~= 0.5
pytket-honeywell ~= 0.4
pytket-aqt ~= 0.3
pytket-braket ~= 0.2
pytket-qulacs ~= 0.3
openfermion ~=0.10
pybind11 ~= 2.5
