scipy ~=1.1.0
numpy
qiskit
pytket >=0.3
-e git://github.com/Quantomatic/pyzx.git#egg=pyzx
sphinx_rtd_theme
sphinx-autodoc-annotation
pybind11
# pytket_cirq >=0.1
# pytket_projectq >= 0.1.2
# pytket_pyzx >=0.1
# pytket_qiskit >=0.1.2
# pytket_pyquil >=0.1
# -e file:../pytket#egg=pytket
# -e file:../pytket_qiskit#egg=pytket_qiskit
# -e file:../pytket_cirq#egg=pytket_cirq
# -e file:../pytket_projectq#egg=pytket_projectq
# -e file:../pytket_pyquil#egg=pytket_pyquil
# -e file:../pytket_pyzx#egg=pytket_pyzx
