name: check docs build

on:
  pull_request:
    branches:
      - main
  schedule:
    # 03:00 every Saturday morning
    - cron: '0 3 * * 6'

jobs:
  check:
    name: check docs build
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: '0'
    - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* +refs/heads/*:refs/remotes/origin/*
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11
    - name: install python requirements for docs
      run: |
        python -m pip install poetry
        poetry install
    - name: install graphviz
      run: |
          sudo apt-get update
          sudo apt-get install graphviz
    - name: build manual and examples
      run: |
        poetry run ./build-docs.sh
